live.onboard.hackclub.com {
	reverse_proxy host.containers.internal:8889
	handle /slack/* {
		reverse_proxy host.containers.internal:8000
	}
	handle /api/v1/github/* {
		reverse_proxy host.containers.internal:8000
	}
	handle /auth/* {
		reverse_proxy host.containers.internal:8000
	}
}