live.onboard.hackclub.com {
	reverse_proxy mediamtx:8888
	handle /slack/* {
		reverse_proxy backend:8000
	}
	handle /api/v1/github/* {
		reverse_proxy backend:8000
	}
	handle /auth/* {
		reverse_proxy backend:8000
	}
}
